<div>
    <header>
        <app-header></app-header>
    </header>
    <h2>
        {{ h2 }}
    </h2>
    <div id="bloc">
        <h3>Nos origines :</h3>
        <div id="description">
            <p>
            C'est en 2015 que 2 entrepreneurs ou que dis-je, deux gaulois Jean-Marc Dupont et Frédérique Martin s'unirent afin de de créer Au Petit Village ! Tous deux grands fans incontestés de cette série de Bande Dessinée urent l'idée de vendre les plus belles figurines de cet univers d'Astérix et Obélix !    
            </p>
            <img src="assets/Images/lesfondateurs.jpg" alt="2 hommes qui interagissent entre eux.">
        </div>
    </div>
    
    <div id="bloc">
        <h3>La vision</h3>
        <div id="description">
            <p>
                Chez Au Petit Village, notre vision est simple mais audacieuse : nous aspirons à conquérir le monde avec notre passion pour l'aventure, le courage et l'amitié, tout en restant fidèles à nos racines gauloises. Tout comme Astérix et Obélix ont défendu leur village contre les envahisseurs romains, nous nous engageons à défendre les valeurs qui nous sont chères : authenticité, intégrité et camaraderie. Nous croyons fermement en la force du collectif et en la capacité de chacun à apporter sa contribution à notre quête commune. Ensemble, nous repoussons les limites, brisons les frontières et dépassons les attentes pour offrir à nos clients une expérience exceptionnelle. Notre ambition est de devenir les leaders incontestés de notre univers, reconnus pour notre excellence, notre créativité et notre esprit d'équipe. 
            </p>
            <img src="assets/Images/papyrus.png" alt="Dessin d'un personnage de la bande dessinée Astérix et Obélix tenant un papyrus dans les mains avec des écritures égyptiennes.">
        </div>
    </div>

    <div id="bloc">
        <h3>La culture de l'entreprise</h3>
        <div id="histoire">
            <p>
                <strong>Amour pour les personnages :</strong> Au cœur de la culture de l'entreprise se trouve un profond amour et respect pour les personnages d'Astérix et Obélix. Chaque membre de l'équipe partage cette passion pour l'univers créé par Goscinny et Uderzo, ce qui se reflète dans leur engagement envers la qualité et l'authenticité des figurines produites.
            </p>
            <p>
                <strong>Créativité et innovation :</strong> L'entreprise encourage la créativité et l'innovation dans la conception et la fabrication des figurines. Elle cherche continuellement de nouvelles façons de capturer l'esprit des personnages.
            </p>
            <p>
                <strong>Engagement envers la qualité :</strong> La culture de l'entreprise met l'accent sur l'excellence et l'attention aux détails. Chaque figurine est minutieusement conçue et fabriquée pour garantir une qualité exceptionnelle.
            </p>
            <p>
                <strong>Respect de l'héritage :</strong> L'entreprise reconnaît l'importance de préserver et de promouvoir l'héritage de Goscinny et Uderzo. Elle travaille en étroite collaboration avec les détenteurs des droits d'auteur pour s'assurer que ses produits respectent l'intégrité des personnages et de leur univers.
            </p>
            <img id="VillageGaulois" src="assets/Images/VillageGaulois.jpg" alt="Dessin du célèbre village gaulois d'Astérix et Obélix.">
        </div>
    </div>

    <div id="bloc">
        <h3>Les personnages clés</h3>
        <div id="histoire">
            <p>
                <strong>René Goscinny et Albert Uderzo</strong> - Les créateurs d'Astérix et Obélix sont incontestablement les figures fondatrices de l'univers qui a donné naissance à nos figurines.
            </p>
            <p>
                <strong>Les fondateurs de Au Petit Village</strong> - Jean-Marc Dupont et Frédérique Martin ont eu la vision de transformer l'amour pour les personnages d'Astérix et Obélix en une entreprise florissante. Leur décision de se lancer dans la fabrication et la vente de figurines a été cruciale pour donner vie à ces héros en trois dimensions.
            </p>
            <p>
                <strong>Les designers et artistes</strong> - Nos collaborateurs talentueux sont responsables de la création des modèles et des designs des figurines. Leur travail méticuleux consiste à capturer l'essence des personnages et à les rendre aussi fidèles que possible !
            </p>
            <p>
                <strong>Les fabricants </strong> - Les fabricants sont les personnes ou les entreprises chargées de produire les figurines en masse tout en maintenant des normes de qualité élevées. Leur expertise dans la fabrication de produits est essentielle pour garantir que chaque figurine est bien réalisée.
            </p>
            <p>
                <strong>Les employés dévoués</strong> - De la gestion des commandes à la gestion des relations avec les clients, les employés dévoués d'Au Petit Village contribuent chaque jour à sa croissance et à son succès. 
            </p>
            <p>
                <strong>Les fans et les collectionneurs</strong> - Enfin, les fans passionnés et les collectionneurs jouent un rôle crucial en tant que clients fidèles et promoteurs de la marque. Leur soutien continu et leur engagement envers les figurines d'Astérix et Obélix sont essentiels pour maintenir la demande et la popularité des produits de l'entreprise.
            </p>
            <img src="assets/Images/LesGaulois.png" alt="Quelques personnages principaux Gaulois de la bande dessinée Astérix et Obélix.">
        </div>
    </div>
    
    <div id="bloc">
        <h3>Les défis et les succès</h3>
        <div id="defisetsucces">
            <div id="histoireDefisEtSucces">
            <h4>Les défis :</h4>
            <p>
                <strong>Concurrence dans l'industrie des figurines :</strong> l'entreprise a dû faire face à une concurrence féroce dans le marché des figurines, avec de nombreux autres fabricants proposant des produits similaires.
            </p>
            <p>
                <strong>Gestion des droits d'auteur :</strong> étant basée sur une propriété intellectuelle bien connue comme Astérix et Obélix, l'entreprise a dû naviguer avec prudence à travers les aspects juridiques et les accords de licence pour s'assurer qu'elle respecte les droits d'auteur tout en exploitant ces personnages.
            </p>
            <p>
                <strong>Tendances changeantes du marché :</strong> les préférences des consommateurs et les tendances du marché évoluent constamment, ce qui signifie que l'entreprise doit être agile et capable de s'adapter rapidement pour répondre aux demandes changeantes des clients.
            </p>

            <h4>Les succès :</h4>
            <p>
                <strong>Partenariats stratégiques :</strong> l'entreprise a pu établir des partenariats stratégiques avec d'autres marques, studios de cinéma ou entreprises pour créer des éditions spéciales de figurines, exploitant ainsi la popularité des personnages d'Astérix et Obélix dans divers domaines.
            </p>
            <p>
                <strong>Récompenses de l'industrie :</strong> l'entreprise a reçu des récompenses et des reconnaissances de l'industrie pour l'excellence de ses produits, sa créativité et son impact sur le marché des figurines.
            </p>
            <p>
                <strong>Fidélité des fans :</strong> le soutien continu et la fidélité des fans d'Astérix et Obélix ont été un succès majeur pour l'entreprise. La création d'une communauté engagée de collectionneurs et de passionnés a contribué à maintenir la demande pour les figurines et à assurer le succès à long terme de l'entreprise.
            </p>
            </div>
            <div>
                <img id="imgdefisetsucces" src="assets/Images/DefisEtSucces.jpg" alt="Dessin des 12 travaux sur un mur de pierre en arrière plan et des trois personnages principaux de la bande dessinée Astérix et Obélix et les 12 travaux.">
            </div>
        </div>
    </div>

    <div id="bloc">
        <h3>Le futur</h3>
        <div id="histoire">
            <p>
              <strong>Expansion de la gamme de produits :</strong> l'entreprise prévoit d'élargir sa gamme de produits pour inclure de nouveaux personnages, de nouvelles éditions spéciales et des collections thématiques.
            </p>
            <p>
                <strong>Renforcement de la présence en ligne :</strong> l'entreprise intensifiera ses efforts pour renforcer sa présence en ligne et améliorer l'expérience d'achat de ses clients.
            </p>
            <p>
                <strong>Durabilité et responsabilité sociale :</strong> l'entreprise s'engage à adopter des pratiques durables et socialement responsables dans tous les aspects de son activité, de la production à la distribution. Cela pourrait inclure l'utilisation de matériaux recyclés, la réduction de l'empreinte carbone et le soutien à des initiatives communautaires.
            </p>
            <img id="EnRoute" src="assets/Images/EnRoute.jpg" alt="Dessin appartenant à une bande dessinée d'Astérix et Obélix aux Jeux Olympiques sur un traineau trainé par 4 chevaux.">
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>